html{
	background: url(img/bg-masthead.jpg);
	opacity: 0.7;

}

body{
	margin: 0;
	padding: 0;
}

.signup{
    text-align: center;
	padding: 20px;
	background: url(img/bg-masthead.jpg);
	width: 400px;
	position: absolute;
    margin-left: 140px;
	overflow: hidden;
}
.text1{
	color: #fff;
	font-size: 10px;
	font-family: "montserrat", sans-serif; 

}
.signup h1{
	text-align: center;
	margin-top: 100px;
	font-family: 'Permanent Marker',cursive;
	color: #fff;
	font-size: 40px;	
}
.signup input{
	display: block;
	width: 100%;
	padding: 16px;
	height: 45px;
  text-align: center;
   box-sizing: border-box;
   outline: none;
   border: none; 
   font-family: "montserrat", sans-serif; 
}


.sign-form{
	width: 350px;
	padding: 20px;
	text-align: center;
	background: url(img/bg-masthead.jpg);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	overflow: hidden; 

}
.sign-form h1{
	margin-top: 100px;
	font-family: 'Permanent Marker',cursive;
	color: #fff;
	font-size: 40px;	
}
.sign-form input{
	display: block;
	width: 100%;
	padding: 16px;
	height: 45px;
  text-align: center;
   box-sizing: border-box;
   outline: none;
   border: none; 
   font-family: "montserrat", sans-serif; 
}

.txtb{
	margin: 5px;
	background: rgb(255,255,255,.15);
	border-radius: 10px;
	color: #fff;

}
.text{
	color: #fff;
	font-family: "montserrat", sans-serif;
	margin: 0;
	font-size: 14px;
	
}
.signup-btn{
	margin-top: 60px;
	margin-bottom:20px;
	background: #DE2916;
	color:#fff;
	border-radius:10px; 
	cursor: pointer;
	transition: 1s;
}

.signup-btn:hover {
	transform: scale(0.96);
}
.sign-form a{
	text-decoration: none;
	color: #fff;
	font-family: "montserrat", sans-serif;
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
    display: block;
}
.sign-form a:hover{
	background: rgb(0,0,0,.3);
}
